h1 {color:red;
}

h2{color:black;
}
h3{color:blue;
}

h1{text-align: center;
}

h2{text-align:right;
}
h3{border-color:pink;
border-style: solid;
border-width; 5px;
}
h3{margin-left: 40%;
}
h3{padding-right: 30%;
}